// Stencil Icon
// ===

// Configurable Variables
// ---

$icon__size: 25px !default;


// Dependencies
// ---

@import 'stencil-variables/variables';
@import 'level/level';


// Icon root
// ---

.c-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $icon__size;
    height: $icon__size;

    fill: currentColor;

    color: inherit;
    vertical-align: middle;
}
